
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-detail-wrap" ng-controller="DetailController">
    <div class="container">
        <div class="row">
            <div class="col-md-6 p-0">
                <div class="vertical-slider-container">
                    <ul class="product-img-gallery vertical-slider">
                        <li ng-repeat="image in colors[index].images track by $index"
                            data-thumb="../{{ image }}">
                            <img ng-src="../{{ image }}"/>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product-detail-content col-md-6">
                <h3 class="product-detail-name">{{ product.product_name }}</h3>
                <h3 class="product-detail-price">{{ product.price.price_current | currency: "" : 0}}đ</h3>
                <div class="my-5">
                    <div>
                        <span class="d-inline-block product-detail-lbl">Tình trạng:
                        </span><span class="stock hide">Còn hàng 
                        </span><span class="out-of-stock hide">Hết hàng
                        </span><span class="limit-stock hide">Chỉ còn {{ maxQuantity }} chiếc</span>
                    </div>
                    <div>
                        <span class="d-inline-block
                                product-detail-lbl">Mã sản phẩm:</span><span>{{ product.product_id }}</span>
                    </div>
                </div>
                <ul>
                    <li class="d-flex align-items-center mb-4">
                        <span class="product-detail-lbl">Màu sắc:</span>
                        <ul class="d-flex align-items-center">
                            <li ng-repeat="color in colors"
                                ng-click="changeColor($index, color)"
                                style="background: {{ color.hex }}"
                                class="d-flex align-items-center product-detail-color">
                            </li>
                        </ul>
                    </li>
                    <li class="d-flex align-items-center mb-4">
                        <span class="product-detail-lbl">Size:</span>
                        <ul class="d-flex align-items-center">
                            <li ng-repeat="size in colors[index].sizes"
                                ng-click="changeSize($index, size)"
                                class="d-flex align-items-center
                                       product-detail-size">
                                {{ size.size }}
                            </li>
                        </ul>
                    </li>
                    <li class="d-flex align-items-center mb-4">
                        <span class="product-detail-lbl">Số lượng</span>
                        <div class="d-flex align-items-center amount">
                            <input type="text" class="product-amount-sub" value="-" readonly>
                            <input type="text" class="product-detail-amount" value="1" readonly>
                            <input type="text" class="product-amount-plus" value="+" readonly>
                        </div>
                    </li>
                </ul>
                <div class="mt-5">
                    <a href="#"><i class="ti-heart"></i></a>
                    <span>Thêm vào mục yêu thích</span>
                </div>
                <div style="margin: 3rem 0">
                    <button ng-click="
                            addToCart(product.product_id, product.product_name,
                            product.price.price_current, colors[index].images[0], 1
                            )"
                            class="btn btn-dark btn-add-to-cart">
                    Thêm vào giỏ hàng</button>
                    <button class="btn btn-dark btn-buy-now" ng-click="
                            addToCart(product.product_id, product.product_name,
                            product.price.price_current, colors[index].images[0], 2
                            )">Mua ngay</button>
                </div>
            </div>
        </div>

        <div style="margin: 0 0 8rem 0">
            <span class="label-detail">Mô tả sản phẩm</span>
            <p ng-if="product.brand">Brand: {{product.brand}}</p>
            <p ng-if="product.made_in">Made in: {{product.made_in}}</p>
            <p></p>
            <p class="product-detail-description">
                {{ product.description }}
            </p>
        </div>

        <div>
            <div class="product-related my-5">
                <span class="label-detail">Sản phẩm liên quan</span>
                <div class="product-related">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="product-carousel-item position-relative item">
                                <div class="product-img-wrap position-relative overflow-hidden">
                                    <a href="#" class="product-img">
                                        <img class="product-carousel-img" src="~/assets/images/PR001_TOP_1.jpg" alt="">
                                        <div class="overlay"></div>
                                    </a>

                                    <ul class="product-options d-flex align-items-center">
                                        <li><a href="#"><i class="ti-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="ti-zoom-in"></i></a></li>
                                        <li><a href="#"><i class="ti-heart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-info">
                                    <a href="#" class="product-name d-block mb-1 fw-bold">Áo Chovis</a>
                                    <span class="product-price">280,000đ</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-carousel-item position-relative item">
                                <div class="product-img-wrap position-relative overflow-hidden">
                                    <a href="#" class="product-img">
                                        <img class="product-carousel-img" src="~/assets/images/PR001_TOP_1.jpg" alt="">
                                        <div class="overlay"></div>
                                    </a>

                                    <ul class="product-options d-flex align-items-center">
                                        <li><a href="#"><i class="ti-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="ti-zoom-in"></i></a></li>
                                        <li><a href="#"><i class="ti-heart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-info">
                                    <a href="#" class="product-name d-block mb-1 fw-bold">Áo Chovis</a>
                                    <span class="product-price">280,000đ</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-carousel-item position-relative item">
                                <div class="product-img-wrap position-relative overflow-hidden">
                                    <a href="#" class="product-img">
                                        <img class="product-carousel-img" src="~/assets/images/PR001_TOP_1.jpg" alt="">
                                        <div class="overlay"></div>
                                    </a>

                                    <ul class="product-options d-flex align-items-center">
                                        <li><a href="#"><i class="ti-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="ti-zoom-in"></i></a></li>
                                        <li><a href="#"><i class="ti-heart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-info">
                                    <a href="#" class="product-name d-block mb-1 fw-bold">Áo Chovis</a>
                                    <span class="product-price">280,000đ</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-carousel-item position-relative item">
                                <div class="product-img-wrap position-relative overflow-hidden">
                                    <a href="#" class="product-img">
                                        <img class="product-carousel-img" src="~/assets/images/PR001_TOP_1.jpg" alt="">
                                        <div class="overlay"></div>
                                    </a>

                                    <ul class="product-options d-flex align-items-center">
                                        <li><a href="#"><i class="ti-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="ti-zoom-in"></i></a></li>
                                        <li><a href="#"><i class="ti-heart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-info">
                                    <a href="#" class="product-name d-block mb-1 fw-bold">Áo Chovis</a>
                                    <span class="product-price">280,000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

