<footer class="footer">
    <div class="container">
        <div class="footer-wrap">
            <div class="footer-item">
                <h3>Thông tin</h3>
                <ul>
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="">Sản phẩm</a></li>
                    <li><a href="">Tin tức</a></li>
                    <li><a href="">Liên hệ</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <h3>Chính sách</h3>
                <ul>
                    <li><a href="#">Hướng dẫn mua hàng</a></li>
                    <li><a href="">Hướng dẫn đổi trả</a></li>
                    <li><a href="">Chính sách thanh toán</a></li>
                    <li><a href="">Chính sách giao hàng</a></li>
                    <li><a href="">Chính sách bảo mật</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <h3>Về chúng tôi</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, quod?</p>
            </div>
            <div class="footer-item">
                <h3>Liên hệ</h3>
                <ul>
                    <li>
                        <i class="far fa-clock"></i>
                        <span>Thứ 2 - Chủ nhật: 7:00 - 23:00</span>
                    </li>
                    <li>
                        <i class="far fa-envelope"></i>
                        <span>danglong2407@gmail.com</span>
                    </li>
                    <li>
                        <i class="fas fa-phone-volume"></i>
                        <span>(+89) 971603963</span>
                    </li>
                    <li>
                        <i class="fas fa-home"></i>
                        <span>Ông Tố - Thị trấn Yên Mỹ - Huyện Yên Mỹ - Tỉnh Hưng Yên</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>