<header class="header">
    <div class="container">
        <nav class="nav d-flex align-items-center justify-content-between">
            <a href="/Home/Index" class="nav-brand d-flex align-items-center text-decoration-none">
                <h3>Chovis</h3>
                <span class="fw-bold" style="color: var(--primaryColor)">.</span>
            </a>
            <ul class="nav-list d-flex align-items-center">
                <li class="nav-item"><a href="#" class="nav-link">New Arrival</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Shop</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Hot</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Sale</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Journal</a></li>
            </ul>

            <div class="nav-options d-flex align-items-center">
                <div class="nav-cart">
                    <div class="d-flex">
                        <a href="#" class="cart-box text-decoration-none">
                            <i class="ti-bag"></i>
                        </a>
                        <a href="#" style="background: black; color: #fff;"
                           class="cart-amount text-decoration-none">0</a>
                    </div>
                </div>
                <div class="nav-user position-relative">
                    <a href="#"><i class="ti-user"></i></a>
                    <ul class="nav-user-list">
                        <li><a href="#" class="btn-user-login">Đăng nhập</a></li>
                        <li><a href="#" class="btn-user-register">Đăng ký</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>