<header class="header" ng-controller="MenuController">
    <div class="container">
        <nav class="nav d-flex align-items-center justify-content-between">
            <a href="/Home/Index" class="nav-brand d-flex align-items-center text-decoration-none">
                <h3>Chovis</h3>
                <span class="fw-bold" style="color: var(--primaryColor)">.</span>
            </a>
            <ul class="nav-list d-flex align-items-center">
                <li class="nav-item"><a href="#" class="nav-link">New Arrival</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Shop</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Hot</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Sale</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Journal</a></li>
            </ul>

            <div class="nav-options d-flex align-items-center" ng-controller="CartController">
                <div class="nav-cart" @*data-bs-toggle="modal" data-bs-target="#modal-cart"*@>
                    <div class="d-flex">
                        <a href="#" class="cart-box text-decoration-none">
                            <i class="ti-bag"></i>
                        </a>
                        <a href="#" style="background: black; color: #fff;"
                           class="cart-amount text-decoration-none">{{ totalItems }}</a>
                    </div>
                </div>
                <div class="nav-user dropdown position-relative">
                    <button class="dropdown-toggle btn-user-options"
                            type="button" id="dropdown-user"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <i class="ti-user"></i>
                    </button>
                    <ul ng-if="!customer" id="nav-options-user" class="dropdown-menu nav-user-list"
                        aria-labelledby="dropdown-user">
                        <li><a href="/Customer/Login" class="dropdown-item btn-user-login">Đăng nhập</a></li>
                        <li><a href="/Customer/Register" class="dropdown-item btn-user-register">Đăng ký</a></li>
                    </ul>

                    <ul ng-if="customer" id="nav-options-profile" class="dropdown-menu nav-user-list"
                        aria-labelledby="dropdown-user">
                        <li><a class="dropdown-item btn-user-profile">Cài đặt tài khoản</a></li>
                        <li><a ng-click="SignOut()" class="dropdown-item btn-user-sign-out">Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>