
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div id="hero">
        <div class="container h-100">
            <div class="row h-100">
                <div class="hero-content col-5">
                    <h3 class="hero-slogan">Fabric that speaks</h3>
                    <a href="/Product/Index" class="btn btn-dark btn-shop-now d-flex align-items-center">
                        <span class="me-2">Shop now</span>
                        <i class="ti-arrow-top-right"></i>
                    </a>

                    <ul class="hero-socials">
                        <li class="d-flex align-items-center mt-3">
                            <a href="#" style="width: 90px;"
                               class="text-uppercase fw-bold fs-4">Facebook</a>
                            <span class="hero-socials-separate"></span>
                            <a href="#" class="hero-socials-icon"><i class="ti-facebook"></i></a>
                        </li>
                        <li class="d-flex align-items-center mt-3">
                            <a href="#" style="width: 90px;"
                               class="text-uppercase fw-bold fs-4">Instagram</a>
                            <span class="hero-socials-separate"></span>
                            <a href="#" class="hero-socials-icon"><i class="ti-instagram"></i></a>
                        </li>
                        <li class="d-flex align-items-center mt-3">
                            <a href="#" style="width: 90px;"
                               class="text-uppercase fw-bold fs-4">Tiktok</a>
                            <span class="hero-socials-separate"></span>
                            <a href="#" class="hero-socials-icon"><i class="fab fa-tiktok"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="hero-options col-7">
                    <div class="hero-search d-flex align-items-center">
                        <div class="hero-search-type position-relative">
                            <a href="#" style="height: 40px;" class="d-flex align-items-center
                                    justify-content-between px-3">
                                <span class="label-search-type-list">Tất cả sản phẩm</span><i class="ti-angle-right"></i>
                            </a>
                            <ul class="hero-search-type-list">
                                <li><a href="#">Tất cả sản phẩm</a></li>
                                <li><a href="#">Mã sản phẩm</a></li>
                                <li><a href="#">Tên sản phẩm</a></li>
                            </ul>
                        </div>
                        <input type="text" class="flex-grow-1 txt-hero-search"
                               placeholder="Tìm kiếm sản phẩm ...">
                        <button class="hero-search-btn"><i class="ti-search"></i></button>
                    </div>
                    <div class="hero-slide position-relative">
                        <div class="hero-carousel mt-2 owl-carousel">
                            <div class="hero-carousel-item position-relative item">
                                <img class="hero-carousel-img" src="~/assets/images/SLIDE_002.jpg" alt="">
                            </div>

                            <div class="hero-carousel-item position-relative item">
                                <img class="hero-carousel-img" src="~/assets/images/SLIDE_001.jpg" alt="">
                            </div>

                            <div class="hero-carousel-item position-relative item">
                                <img class="hero-carousel-img" src="~/assets/images/SLIDE_003.jpg" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-controller="SlideController">
        <div id="arrival" style="background: #fff;">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center py-5">
                    <div>
                        <h3 class="fs-2 fw-bold">New Arrival</h3>
                        <p class="fs-4">Mang đồ của Chovis về tủ của bạn</p>
                    </div>
                    <div>
                        <button class="btn btn-dark fs-4">Xem thêm</button>
                    </div>
                </div>

                <div>
                    <div class="product-carousel mt-2 owl-carousel">
                        <div ng-repeat="product in productNewArrival"
                             class="product-carousel-item position-relative item">
                            <div class="product-img-wrap position-relative overflow-hidden">
                                <a href="/ProductDetail/Index" ng-click="GoToDetail(product)" class="product-img">
                                    <img class="product-carousel-img"
                                         ng-src="../{{ product.list_color[0].avatar }}" alt="">
                                    <div class="overlay"></div>
                                </a>

                                <ul class="product-options d-flex align-items-center">
                                    <li><a href="#"><i class="ti-shopping-cart"></i></a></li>
                                    <li><a href="#"><i class="ti-zoom-in"></i></a></li>
                                    <li><a href="#"><i class="ti-heart"></i></a></li>
                                </ul>
                            </div>

                            <div class="product-info">
                                <a href="#" class="product-name d-block mb-1 fw-bold">
                                    {{ product.product_name }}
                                </a>
                                <span class="product-price">{{ product.price.price_current | currency:"":0}}đđ</span>
                            </div>
                        </div>
                    </div>
             
                </div>

            </div>
        </div>

        <div id="collection" style="margin-bottom: 30px">
            <div class="container">
                <div  class="d-flex justify-content-between align-items-center py-5">
                    <div>
                        <h3 class="fs-2 fw-bold">Collection</h3>
                        <p class="fs-4">Bộ sưu tập sản phẩm cho nam và nữ</p>
                    </div>
                    <div>
                        <a href="#" class="btn btn-dark fs-4">Shop now</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="#" class="collection-img-wrap">
                            <img src="~/assets/images/PR001_TOP_1.jpg" class="collection-img" alt="">
                            <div class="overlay"></div>
                            <div class="collection-btn-wrap d-flex justify-content-center
                                align-items-center">
                                <button class="btn btn-collection">For Man</button>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="collection-img-wrap">
                            <img src="~/assets/images/PR001_TOP_1.jpg" class="collection-img" alt="">
                            <div class="overlay"></div>
                            <div class="collection-btn-wrap d-flex justify-content-center
                                align-items-center">
                                <button class="btn btn-collection">For Woman</button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="hot" style="background: #fff;">
            <div class="container">
                <div  class="d-flex justify-content-between align-items-center py-5">
                    <div>
                        <h3 class="fs-2 fw-bold">HOT</h3>
                        <p class="fs-4">Các sản phẩm được săn đón nhất tại Chovis</p>
                    </div>
                    <div>
                        <a href="#" class="btn btn-dark fs-4">Xem thêm</a>
                    </div>
                </div>

                <div>
                    <div class="product-carousel mt-2 owl-carousel">
                        <div ng-repeat="product in productHot"
                             class="product-carousel-item position-relative item">
                            <div class="product-img-wrap position-relative overflow-hidden">
                                <a href="/ProductDetail/Index" ng-click="GoToDetail(product)" class="product-img">
                                    <img class="product-carousel-img"
                                         ng-src="../{{ product.list_color[0].avatar }}" alt="">
                                    <div class="overlay"></div>
                                </a>

                                <ul class="product-options d-flex align-items-center">
                                    <li><a href="#"><i class="ti-shopping-cart"></i></a></li>
                                    <li><a href="#"><i class="ti-zoom-in"></i></a></li>
                                    <li><a href="#"><i class="ti-heart"></i></a></li>
                                </ul>
                            </div>

                            <div class="product-info">
                                <a href="#" class="product-name d-block mb-1 fw-bold">
                                    {{ product.product_name }}
                                </a>
                                <span class="product-price">{{ product.price.price_current | currency:"":0}}đđ</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="best-seller" style="background: var(--primaryColor);">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center py-5">
                    <div style="color: #fff;">
                        <h3 class="fs-2 fw-bold">BEST SELLER</h3>
                        <p class="fs-4">Bán chạy nhất tại Chovis</p>
                    </div>
                    <div>
                        <a href="#" class="btn btn-dark fs-4">Xem thêm</a>
                    </div>
                </div>

                <div>
                    <div class="product-carousel mt-2 owl-carousel">
                        <div ng-repeat="product in productBestSeller"
                             class="product-carousel-item position-relative item">
                            <div class="product-img-wrap position-relative overflow-hidden">
                                <a href="/ProductDetail/Index" ng-click="GoToDetail(product)" class="product-img">
                                    <img class="product-carousel-img"
                                         ng-src="../{{ product.list_color[0].avatar }}" alt="">
                                    <div class="overlay"></div>
                                </a>

                                <ul class="product-options d-flex align-items-center">
                                    <li><a href="#"><i class="ti-shopping-cart"></i></a></li>
                                    <li><a href="#"><i class="ti-zoom-in"></i></a></li>
                                    <li><a href="#"><i class="ti-heart"></i></a></li>
                                </ul>
                            </div>

                            <div class="product-info">
                                <a href="#" class="product-name d-block mb-1 fw-bold">
                                    {{ product.product_name }}
                                </a>
                                <span class="product-price">{{ product.price.price_current | currency:"":0}}đđ</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="sale" style="background: #fff;">
            <div class="container">
                <div  class="d-flex justify-content-between align-items-center py-5">
                    <div>
                        <h3 class="fs-2 fw-bold">SALE</h3>
                        <p class="fs-4">Các sản phẩm được sale tại Chovis</p>
                    </div>
                    <div>
                        <a href="#" class="btn btn-dark fs-4">Xem thêm</a>
                    </div>
                </div>

                <div>
                    <div class="product-carousel mt-2 owl-carousel">
                        <div class="product-carousel-item position-relative item">
                            <div class="product-img-wrap position-relative overflow-hidden">
                                <a href="#" class="product-img">
                                    <img class="product-carousel-img" src="~/assets/images/PR001_TOP_1.jpg" alt="">
                                    <div class="overlay"></div>
                                </a>

                                <ul class="product-options d-flex align-items-center">
                                    <li><a href="#"><i class="ti-shopping-cart"></i></a></li>
                                    <li><a href="#"><i class="ti-zoom-in"></i></a></li>
                                    <li><a href="#"><i class="ti-heart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product-info">
                                <a href="#" class="product-name d-block mb-1 fw-bold">HADES BASIC WASHED TEE</a>
                                <span class="product-price">280,000đ</span>
                            </div>
                        </div>

                        <div class="product-carousel-item position-relative item">
                            <div class="product-img-wrap position-relative overflow-hidden">
                                <a href="#" class="product-img">
                                    <img class="product-carousel-img" src="~/assets/images/PR001_TOP_1.jpg" alt="">
                                    <div class="overlay"></div>
                                </a>

                                <ul class="product-options d-flex align-items-center">
                                    <li><a href="#"><i class="ti-shopping-cart"></i></a></li>
                                    <li><a href="#"><i class="ti-zoom-in"></i></a></li>
                                    <li><a href="#"><i class="ti-heart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product-info">
                                <a href="#" class="product-name d-block mb-1 fw-bold">HADES BASIC WASHED TEE</a>
                                <span class="product-price">280,000đ</span>
                            </div>
                        </div>

                        <div class="product-carousel-item position-relative item">
                            <div class="product-img-wrap position-relative overflow-hidden">
                                <a href="#" class="product-img">
                                    <img class="product-carousel-img" src="~/assets/images/PR001_TOP_1.jpg" alt="">
                                    <div class="overlay"></div>
                                </a>

                                <ul class="product-options d-flex align-items-center">
                                    <li><a href="#"><i class="ti-shopping-cart"></i></a></li>
                                    <li><a href="#"><i class="ti-zoom-in"></i></a></li>
                                    <li><a href="#"><i class="ti-heart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product-info">
                                <a href="#" class="product-name d-block mb-1 fw-bold">HADES BASIC WASHED TEE</a>
                                <span class="product-price">280,000đ</span>
                            </div>
                        </div>

                        <div class="product-carousel-item position-relative item">
                            <div class="product-img-wrap position-relative overflow-hidden">
                                <a href="#" class="product-img">
                                    <img class="product-carousel-img" src="~/assets/images/PR001_TOP_1.jpg" alt="">
                                    <div class="overlay"></div>
                                </a>

                                <ul class="product-options d-flex align-items-center">
                                    <li><a href="#"><i class="ti-shopping-cart"></i></a></li>
                                    <li><a href="#"><i class="ti-zoom-in"></i></a></li>
                                    <li><a href="#"><i class="ti-heart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product-info">
                                <a href="#" class="product-name d-block mb-1 fw-bold">HADES BASIC WASHED TEE</a>
                                <span class="product-price">280,000đ</span>
                            </div>
                        </div>

                        <div class="product-carousel-item position-relative item">
                            <div class="product-img-wrap position-relative overflow-hidden">
                                <a href="#" class="product-img">
                                    <img class="product-carousel-img" src="~/assets/images/PR001_TOP_1.jpg" alt="">
                                    <div class="overlay"></div>
                                </a>

                                <ul class="product-options d-flex align-items-center">
                                    <li><a href="#"><i class="ti-shopping-cart"></i></a></li>
                                    <li><a href="#"><i class="ti-zoom-in"></i></a></li>
                                    <li><a href="#"><i class="ti-heart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product-info">
                                <a href="#" class="product-name d-block mb-1 fw-bold">HADES BASIC WASHED TEE</a>
                                <span class="product-price">280,000đ</span>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div id="journal">
            <div class="container">
                <div  class="d-flex justify-content-between align-items-center py-5">
                    <div>
                        <h3 class="fs-2 fw-bold">Journal</h3>
                        <p class="fs-4">Xem các tin tức mới từ Chovis</p>
                    </div>
                    <div>
                        <a href="#" class="btn btn-dark fs-4">Xem thêm</a>
                    </div>
                </div>
                <div class="journal-carousel owl-carousel">
                    <div class="journal-item">
                        <a href="#" class="journal-img-wrap position-relative d-block w-100 overflow-hidden">
                            <img src="~/assets/images/NEWS_001.jpg"
                                 class="journal-img"
                                 alt="">
                            <ul class="journal-time position-absolute">
                                <li class="journal-time-day">07</li>
                                <li class="journal-time-month">OCT</li>
                                <li class="journal-time-year">2021</li>
                            </ul>
                        </a>
                        <div class="p-3 text-center">
                            <a href="#" class="journal-title d-block fw-bold mt-3 mb-4">My favourite white jacket</a>
                            <a href="#"
                               class="journal-link d-block text-uppercase fs-5 text-decoration-underline">
                                Read Story
                            </a>
                        </div>
                    </div>
                    <div class="journal-item">
                        <a href="#" class="journal-img-wrap position-relative d-block w-100 overflow-hidden">
                            <img src="~/assets/images/NEWS_002.jpg"
                                 class="journal-img"
                                 alt="">
                            <ul class="journal-time position-absolute">
                                <li class="journal-time-day">07</li>
                                <li class="journal-time-month">OCT</li>
                                <li class="journal-time-year">2021</li>
                            </ul>
                        </a>
                        <div class="p-3 text-center">
                            <a href="#" class="journal-title d-block fw-bold mt-3 mb-4">My favourite white jacket</a>
                            <a href="#"
                               class="journal-link d-block text-uppercase fs-5 text-decoration-underline">
                                Read Story
                            </a>
                        </div>
                    </div>
                    <div class="journal-item">
                        <a href="#" class="journal-img-wrap position-relative d-block w-100 overflow-hidden">
                            <img src="~/assets/images/NEWS_003.jpg"
                                 class="journal-img"
                                 alt="">
                            <ul class="journal-time position-absolute">
                                <li class="journal-time-day">07</li>
                                <li class="journal-time-month">OCT</li>
                                <li class="journal-time-year">2021</li>
                            </ul>
                        </a>
                        <div class="p-3 text-center">
                            <a href="#" class="journal-title d-block fw-bold mt-3 mb-4">My favourite white jacket</a>
                            <a href="#"
                               class="journal-link d-block text-uppercase fs-5 text-decoration-underline">
                                Read Story
                            </a>
                        </div>
                    </div>
                    <div class="journal-item">
                        <a href="#" class="journal-img-wrap position-relative d-block w-100 overflow-hidden">
                            <img src="~/assets/images/NEWS_001.jpg"
                                 class="journal-img"
                                 alt="">
                            <ul class="journal-time position-absolute">
                                <li class="journal-time-day">07</li>
                                <li class="journal-time-month">OCT</li>
                                <li class="journal-time-year">2021</li>
                            </ul>
                        </a>
                        <div class="p-3 text-center">
                            <a href="#" class="journal-title d-block fw-bold mt-4 mb-2">My favourite white jacket</a>
                            <a href="#"
                               class="journal-link d-block text-uppercase fs-5 text-decoration-underline">
                                Read Story
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>

