@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayOut.cshtml";
}

<div id="product-admin-wrapper" ng-controller="ManageProductsController" class="container">
    <div class="d-flex justify-content-between align-items-center">
        <input type="text" class="form-control mb-3 txt-search-product"
               placeholder="Search ... ">
        <a href="#" data-bs-toggle="modal" data-bs-target="#modal-handle-product"
           class="btn btn-info btn-add-product mb-3"
           ng-click="AddProduct(0)">Add product</a>

    </div>

    @* List product *@
    <table style="color: black" class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Serial</th>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Action</th>
                <th>Show</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="product in ListProduct.list_product|itemsPerPage: page_size" total-items="total_count">
                <td style="min-height: 68px; text-align: center">{{ $index + 1 }}</td>
                <td class="product_code">{{ product.product_id }}</td>
                <td class="product_name">{{ product.product_name }}</td>
                <td>{{ product.price.price_current | currency : "" : 0 }}</td>
                <td>{{ product.category_name }}</td>

                <td class="action d-flex">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#modal-handle-product"
                       ng-click="ViewProduct()" class="btn btn-info">View</a>

                    <a href="#" data-bs-toggle="modal" data-bs-target="#modal-handle-product"
                       ng-click="UpdateProduct(product, 1)" class="btn btn-primary">Update</a>

                    <a href="#" data-bs-toggle="modal" data-bs-target="#modal-confirm"
                       ng-click="RemoveProduct(product)" class="btn btn-danger">Delete</a>
                </td>
                <td>
                    <input type="checkbox" checked />
                </td>
            </tr>

        </tbody>
    </table>
    <div class="d-flex justify-content-center mt-5">
        <dir-pagination-controls max-size="max_size"
                                 direction-links="true"
                                 boundary-links="true"
                                 on-page-change="GetProductList(newPageNumber)">
        </dir-pagination-controls>
    </div>

    @* Modal handle product *@
    <div id="modal-handle-product" class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ titleModal }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div style="color: black" class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Id</label>
                                <input type="text" class="form-control" ng-model="product.product_id"
                                       placeholder="" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Category</label>
                                <select ng-model="product.category_id"
                                        class="form-select">
                                    <option value="">Choose category</option>
                                    <option ng-repeat="category in list_category"
                                            value="{{category.category_id}}">
                                        {{category.category_name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control"
                               ng-model="product.product_name" placeholder="">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Brand</label>
                                <input type="text" class="form-control"
                                       ng-model="product.brand" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Made in</label>
                                <input type="text" class="form-control"
                                       ng-model="product.made_in" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label">Gender</label>

                            <select class="form-select" ng-model="product.gender">
                                <option value="">Choose gender</option>
                                <option value="1" selected>Male</option>
                                <option value="2">Female</option>
                                <option value="3">Unknown</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Status</label>
                            
                            <select class="form-select" ng-model="product.status">
                                <option value="">Choose status</option>
                                <option value="1" selected>Show</option>
                                <option value="2">Hide</option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <textarea class="form-control" ng-model="product.description" rows="3"></textarea>
                    </div>
                    @*<div class="mb-3">
                            <label class="form-label">Image</label>
                            <input class="form-control" ng-model="product.image_avt"
                                   ngf-select="UploadImage($files, 'image')"
                                   type="file">
                        </div>*@
                </div>
                <div class="modal-footer">
                    <button style="background: grey; border: none" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button style="border: none" type="submit" class="btn btn-primary"
                            ng-click="SaveProduct(product, event)">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>

    @* Modal confirm *@
    <div id="modal-confirm" class="modal" tabindex="-1">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div style="color: black" class="modal-body">
                    <p>Are you sure to delete this product?</p>
                </div>
                <div class="modal-footer">
                    <button style="background: grey; border: none" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button style="border: none" type="button" class="btn btn-primary"
                            ng-click="ConfirmDelete()">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



