
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayOut.cshtml";
}

<div ng-controller="LoginController">
    <button class="btn btn-dark" ng-click="signOut()">Sign Out</button>

    <div class="dash-board-wrapper d-flex align-center justify-content-center">
        <div class="d-flex justify-content-center align-items-center h-100">
            <h1 class="dash-board-title">CHOVIS - CLOTHING</h1>
        </div>
        <div class="overlay dash-board-overlay"></div>
    </div>
</div>


